/* Set default margin and padding for all elements */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


html, body {
  font-family:Verdana, Geneva, sans-serif;
}

/* Clear Floats */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  clear: both;
  *zoom: 1;
}


.left {
  float:left;
}

.right {
  float:right;
}

#container {
  width:95%;
  margin:0 auto;
}


/* Top Bar */
.top-bar {
  background-color:#222;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 0;
}

#logo {
  display:inline-block;
  margin-left:45px;

}

#logo img {
  width:250px;
  height:auto;
}


.main-content {
  margin-top:30px;
}



/* Left Section */

.option-wrapper {
  width: 30%;
  margin-right:2%;
}

.searchBar-wrapper {
  margin-top:10px;
}

.searchBar, .sectorBox, .summary {
  border: 1px solid #EBE9EB; 
}

.searchBar {
  padding:2px 0 2px 10px;
  height:30px;
  width:250px;
  border-radius: 5px;
  font-size:17px;
}

.sectorBox {
  width:300px;
  height:200px;
  margin-top:50px;
  overflow-y: auto;
}

.summary {
  width:250px;
  height:150px;
  margin-top: 75px;
}

.summary p {
  text-align: center;
}

.stat-label {
  margin:10px 0;
}




/* Tags */

.tags {
  display: inline-block;
  background-color:#e0edf5;
  border-radius: 5px;
  font-weight:300;
  font-size:.9em;
  color:#2f5d92;
  margin:5px 10px;
  padding:5px 12px 5px 8px;
}

.tags p {
  display:inline-block;
  margin-right:7px;
}


.close {
  color:#4483AF;
  font-size:.75em;
  font-weight: 400;
  vertical-align: 1px;
}

.close:hover {
  color:#36698D;
  cursor:pointer;
}

.table-wrapper {
  width:68%;
  height: 77vh;
  overflow-y: auto;
}

#companyData {
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-spacing: 0;
  width: 100%;
}

#companyData th {
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #4CAF50;
  color: white;
  text-align: left;
  padding-left:5px;
}

#companyData tr:nth-child(even){
  background-color: #f2f2f2;
}

#companyData td {
  padding:8px;
  text-align: left;
}


















